/* 修改代码块折叠后显示的高度，这里设置显示2行，即第一行是代码类型，第二个是代码块内容的第一行 */
.protyle-wysiwyg [data-node-id][fold="1"]:not(.li):not([data-type="NodeHeading"]).code-block {
    height: 46px;
}

/* 解决从2.0.26---2.1.x开始文档内容宽度变小的问题 */
.protyle-wysiwyg {
    padding-left: 16px !important;
    padding-right: 16px !important
}
.protyle-title {
    margin-left: 16px !important;
    padding-right: 16px !important
} 